*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: rgb(178, 132, 221);
}

.wrapper{
    width: 400px;
   
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container{
    width: 100%;
    background-color: rgb(139, 57, 221);
    padding: 50px 40px;
    box-shadow: 0 20px 65px rgba(87,11,16,0.5);
    position: relative;
    border-radius: 8px;
    text-align: center;
}

.container:after{
    content: "";
    position: absolute;
    width : 98%;
    height: 98%;
    opacity: 0.3;
    background-color: #fff;
    z-index: -1;
    top: 10%;
    left:10%;

}

.container p{
    color: antiquewhite;
    line-height: 2;
    font-size: 20px;
}

#author{
    color: #fff;
    margin: 20px 0 60px 0;
    text-transform: capitalize; 
    font-weight: bolder;
    font-style: oblique;
}

.container button{
    background-color: #fff;
    border: none;
    padding: 15px 45px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: blueviolet;
    cursor: pointer;
}